:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.search-bar {
  border: 4px solid transparent;
  border-radius: 2rem;
  background: linear-gradient(170deg, #FF5370, #F76D47, #F9AA33, #FCD02D, #31A8FF, #9C27B0);
  background-clip: padding-box, border-box;
  padding: 5px;
  max-width: 1000px;
  @media screen and (max-width: 769px){
    max-width: 80%;
    margin: 0 auto;
  }
}

.search-bar::before {
  border-radius: inherit;
  background: inherit;
}

.search-bar input {
  width: 100%;
  padding: 8px 12px;
  border-radius: inherit;
  border: none;
  position: relative;
  z-index: 1;
}

.search-bar input::placeholder {
  color: var(--foreground);
}
.search-bar input:focus {
  border-color: transparent;
}
.search-bar input:focus::placeholder {
  color: transparent;
}

.btn-custom{
  text-transform: capitalize;
  padding: .75rem 1.5rem;
  border-radius: 1rem;
  background: transparent;
  border: 2px solid var(--foreground);
  border-color: var(--foreground);
}
.btn-custom:hover{
  background-color: var(--foreground);
  border-color: var(--foreground);
  color: var(--background);
}

.tags{
  @media screen and (max-width: 769px){
    width: 80%;
  }
}

.gallery-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  gap: 15px;
  padding: 20px;
  grid-auto-flow: dense;
}
.portrait{
  grid-column: span 1;
  grid-row: span 2;
}

.landscape{
  grid-column: span 2;
  grid-row: span 1;
}

.gallery-item{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-sizing: border-box;
}

.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover .gallery-image {
  transform: scale(1.05);
}